<h1>Group 5 - Foundation for Data Science</h1>

<p>Nama Anggota:</p>
<ul>
  <li>SC61914 - I Made Surya Adi Palguna</li>
  <li>SC61911 - Muhammad Firzal Anugerah Perdana</li>
  <li>SC61916 - Nabila Sukma Mardeny</li>
  <li>SC61909 - Rahma Aulia Agustari</li>
  <li>SC61910 - Shania Maharani</li>
</ul>
<p>Kompi: 19</p>

### SOAL 1

<p>Sebagai tim data, memahami dasar-dasar pemrograman Python sangatlah penting, terutama saat kita mengolah dan membersihkan data. Dalam tugas kelompok ini, kita akan menggunakan Python untuk menganalisis data diri kita sendiri dan teman-teman sekelompok.</p>

<p>Kumpulkan data dari seluruh anggota kompi, jika kamu berasal dari kompi A, maka buatlah dataframe df_a, jika kamu berasal dari kompi B, maka buat df_b, dst. Lalu, kumpulkan seluruh data dari seluruh peserta, yang meliputi No. Peserta, Nama, Jurusan, Berat Badan (kg), Tinggi Badan (cm). Dengan dataset yang sudah terkumpul, jawab beberapa pertanyaan berikut:</p>

<p>Instruksi</p>

<ul>
  <li>Data dikumpulkan pada suatu gsheet file lalu import ke Google Colab</li>
  <li>Bentuk default dataset:</li>
</ul>

<table>
  <thead>
    <tr>
      <td>No. Peserta<td>
      <td>Nama<td>
      <td>Jurusan<td>
      <td>Berat Badan (kg)<td>
      <td>Tinggi Badan (cm)<td>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><td>
      <td><td>
      <td><td>
      <td><td>
      <td><td>
    <tr>
  </tbody>
</table>

<ul>
  <li>Ketua kompi dapat mengkoordinasi anggotanya untuk mengumpulkan seluruh informasi yang diperlukan.</li>
  <li>Kumpulkan pekerjaan anda dengan mencantumkan google colab yang berisi pertanyaan dan jawaban.</li>
</ul>

In [ ]:
# Bagian 1
import pandas as pd
df_19 = pd.read_excel("https://docs.google.com/spreadsheets/d/1fzsr0xLMlQJ3ZE8v6zPlrphbhdNUApEtDFycyBnYzM4/export?format=xlsx")
display(df_19)

###### 1.



```
# Ini diformat sebagai kode
```

<p>Identifikasi dan jelaskan tipe data apa saja yang ada pada dataframe, ada berapa kolom dan baris, serta informasi apa saja yang terkandung dalam data tersebut?</p>

In [ ]:
# Bagian 1
print("Tipe data")
tipe_data = df_19.dtypes
display(tipe_data)

print()
jumlah_kolom = df_19.shape[1]
jumlah_baris = df_19.shape[0]
print("Jumlah kolom: {}".format(jumlah_kolom))
print("Jumlah baris: {}".format(jumlah_baris))

print()
print("Informasi data")
df_19.info()

###### 2.

<p>Hitunglah BMI setiap siswa dengan rumus BMI = Berat badan (kg) / (Tinggi Badan (m))^2</p>

In [ ]:
# Bagian 2
def bmi(berat_badan, tinggi_badan):
  return berat_badan / (tinggi_badan / 100)**2

###### 3.

<p>Buatlah program untuk menghitung BMI!</p>

In [ ]:
# Bagian 2
hasil_bmi = pd.Series(map(bmi, list(df_19["Berat Badan (Kg)"]), list(df_19["Tinggi Badan (Cm)"])))
display(hasil_bmi)

###### 4.

<p>Update dataframe df dengan menambahkan hasil perhitungan soal nomor 2, beri nama kolom BMI.</p>

In [ ]:
# Bagian 2
df_19["BMI"] = hasil_bmi
display(df_19)

###### 5.

<p>Buatlah status BMI untuk setiap siswa dari kategori berikut, lalu simpan data statusnya dengan nama kolom Status BMI.</p>

<ul>
  <li>Normal: 18.5-24.9</li>
  <li>Overweight: 25.0-29.9</li>
  <li>Obesity: 30.0-34.9</li>
  <li>Underweight: < 18.5</li>
</ul>

In [ ]:
# Bagian 3
def status_bmi(bmi):
  if bmi >= 18.5 and bmi <= 24.9:
    return "Normal"
  if bmi >= 25.0 and bmi <= 29.9:
    return "Overweight"
  if bmi >= 30.0 and bmi <= 34.9:
    return "Obesity"
  if bmi < 18.5:
    return "Underweight"
  return ""

hasil_status_bmi = pd.Series(map(status_bmi, list(df_19["BMI"])))

df_19["Status BMI"] = hasil_status_bmi
display(df_19)

###### 6.

<ul>
  <li>Buatlah variabel baru lalu urutkan data berdasarkan tinggi badan dari yang tertinggi ke rendah.</li>
  <li>Buat variabel baru lalu urutkan data berdasarkan Nama dari Z - A.</li>
</ul>

In [ ]:
# Bagian 3
df_19_tinggi_badan = df_19.sort_values(by="Tinggi Badan (Cm)", ascending=False)
df_19_nama = df_19.sort_values(by="Nama", ascending=False)

print("Data berdasarkan tinggi badan dari yang tertinggi ke rendah:")
display(df_19_tinggi_badan)

print()
print("Data berdasarkan Nama dari Z - A:")
display(df_19_nama)

###### 7.

<p>Filter dataframe df berdasarkan:

<ul>
  <li>Status BMI di luar Normal.</li>
  <li>Tinggi Badan > 169 cm dan Berat Badan > 60 kg</li>
  <li>Nama yang mengandung huruf "y".</li>
  <li>Siapa saja yang berat badannya kurang dari 60 kg?</li>
</ul>

In [ ]:
# Bagian 4
print("Status BMI di luar Normal")
df_19_luar_normal = df_19.loc[df_19["Status BMI"] != "Normal"]
display(df_19_luar_normal)

print()
print("Tinggi Badan > 169 cm dan Berat Badan > 60 kg")
df_19_tinggi = df_19.loc[df_19["Tinggi Badan (Cm)"] > 169]
df_19_tinggi_dan_berat = df_19_tinggi.loc[df_19_tinggi["Berat Badan (Kg)"] > 60]
display(df_19_tinggi_dan_berat)

print()
print("Nama yang mengandung huruf 'y'")
df_19_y = df_19.loc[df_19["Nama"].str.contains("y", case=False)]
display(df_19_y)

print()
print("Berat badan kurang dari 60 kg")
df_19_berat = df_19.loc[df_19["Berat Badan (Kg)"] < 60]
display(df_19_berat)

###### 8.

<p>Tambahkan nomor urut pada dataframe df sesuai jumlah siswa dan tempatkan kolom nomor baru tersebut di paling ujung kiri sebagai kolom pertama serta beri nama kolomnya "No."!</p>

In [ ]:
# Bagian 4
df_19["No."] = pd.Series(list(range(1, df_19.shape[0] + 1)))
df_19 = df_19[["No."] + list(df_19.columns[:-1])]
display(df_19)

,No.,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),BMI,Status BMI
0,1,SC61901,Akmal Fa'iq Naufal,Teknik Elektro,60,175,19.591837,Normal
1,2,SC61902,Atthaya Layla Zhafira Hilwana,Bisnis Digital,52,168,18.424036,Underweight
2,3,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,Normal
3,4,SC61904,Firda Kusumawardhani Hillal,Teknologi Informasi,49,152,21.208449,Normal
4,5,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,Normal
5,6,SC61906,Marcela Anggi Puspitasari,Akuntansi,48,154,20.239501,Normal
6,7,SC61907,Aulia Putri,Informatika,42,155,17.481790,Underweight
7,8,SC61908,Ni Kadek Fortuna Dewi,Matematika,45,158,18.025957,Underweight
8,9,SC61909,Rahma Aulia Agustari,Akuntansi,42,159,16.613267,Underweight
9,10,SC61910,Shania Maharani,Akuntansi,48,156,19.723866,Normal
10,11,SC61911,Muhammad Firzal Anugerah Perdana,Informatika,55,167,19.721037,Normal
11,12,SC61912,Anis Naila Mashurrin,Matematika,48,160,18.750000,Normal
12,13,SC61913,Diva Nabila Herisnan,Teknik Informatika,62,172,20.957274,Normal
13,14,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,Obesity
14,15,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,Overweight
15,16,SC61916,Nabila Sukma Mardeny,Sistem Informasi Kelautan,53,158,21.230572,Normal
16,17,SC61917,Rainata Maharani,Pendidikan Akuntansi,50,162,19.051974,Normal
17,18,SC61918,Valentin Asman Lestari,Statistika,59,160,23.046875,Normal
18,19,SC61919,Amin Fauzan,Kesehatan Masyarakat,70,175,22.857143,Normal
19,20,SC61920,Calvin Adiwinata,Teknik Informatika,53,162,20.195092,Normal
20,21,SC61921,Fitri Novita Sari,Matematika,60,160,23.437500,Normal
21,22,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,Overweight
22,23,SC61923,Niswah Nasyithah,Informatika,40,153,17.087445,Underweight
23,24,SC61924,Sintiya Ristiyani,Sains Data,48,158,19.227688,Normal
24,25,SC61925,Zamzammaimatul Zalfa Laila,Matematika,48,165,17.630854,Underweight

###### 9.

<p>Cari nilai-nilai berikut:</p>

<ul>
  <li>Cari nilai terendah dan tertingginya.</li>
  <li>Berapa nilai rata-rata tinggi badan siswa?</li>
  <li>Berapa rata-rata berat badan siswa?</li>
  <li>Ada berapa orang jumlah siswa  yang tercatat pada dataframe df?</li>
  <li>5 orang dengan nilai BMI tertinggi.</li>
  <li>Ada berapa orang yang tergolong status Underweight, Normal, Overweight, dan Obesity?</li>
</ul>

In [ ]:
# Bagian 5
print("Nilai terendah dan tertinggi")
print("Tinggi badan: {} dan {}".format(df_19["Tinggi Badan (Cm)"].min(), df_19["Tinggi Badan (Cm)"].max()))
print("Berat badan: {} dan {}".format(df_19["Berat Badan (Kg)"].min(), df_19["Berat Badan (Kg)"].max()))
print("BMI: {} dan {}".format(df_19["BMI"].min(), df_19["BMI"].max()))

print()
print("Nilai rata-rata tinggi badan siswa: {}".format(df_19["Tinggi Badan (Cm)"].mean()))
print("Rata-rata berat badan siswa: {}".format(df_19["Berat Badan (Kg)"].mean()))
print("Jumlah siswa yang tercatat pada dataframe df: {}".format(df_19.shape[0]))

print()
print("5 orang dengan nilai BMI tertinggi:")
display(df_19.sort_values(by="BMI", ascending=False).head(5))

print()
print("Jumlah orang yang tergolong status Underweight, Normal, Overweight, dan Obesity")
print("Underweight: {}".format(df_19.loc[df_19["Status BMI"] == "Underweight"].shape[0]))
print("Normal: {}".format(df_19.loc[df_19["Status BMI"] == "Normal"].shape[0]))
print("Overweight: {}".format(df_19.loc[df_19["Status BMI"] == "Overweight"].shape[0]))
print("Obesity: {}".format(df_19.loc[df_19["Status BMI"] == "Obesity"].shape[0]))

Nilai terendah dan tertinggi
Tinggi badan: 152 dan 180
Berat badan: 40 dan 105
BMI: 16.61326688026581 dan 32.407407407407405

Nilai rata-rata tinggi badan siswa: 163.76
Rata-rata berat badan siswa: 57.32
Jumlah siswa yang tercatat pada dataframe df: 25

5 orang dengan nilai BMI tertinggi:

,No.,No. Peserta,Nama,Jurusan,Berat Badan (Kg),Tinggi Badan (Cm),BMI,Status BMI
13,14,SC61914,I Made Surya Adi Palguna,Informatika,105,180,32.407407,Obesity
14,15,SC61915,Made Bayu Maha Krisna Siaka,Informatika,82,172,27.717685,Overweight
21,22,SC61922,Masayu Rizka Arfiyunia,Sistem Informasi,75,170,25.951557,Overweight
4,5,SC61905,Irsyad Daffa Armmawadin,Manajemen,75,178,23.671254,Normal
2,3,SC61903,Dicky Fadhillah Herlambang,Fisika,64,165,23.507805,Normal

Jumlah orang yang tergolong status Underweight, Normal, Overweight, dan Obesity
Underweight: 6
Normal: 16
Overweight: 2
Obesity: 1

### SOAL 2

<p>Perusahaan Investasi Jamin-Sugih Co kami memberikan penawaran investasi terbaik dengan pembagian keuntungan tetap sebesar 25% setiap tahun.</p>

<p>Buatlah program Python yang dapat menerima input dari pengguna dalam bentuk:</p>
<ul>
  <li>Modal Investasi (bilangan bulat antara 0-1.000.000.000)</li>
  <li>Jangka Waktu Investasi (bilangan bulat antara 1-25 dalam tahun)</li>
  <li>Selain itu, program akan menampilkan error message bahwa modal atau tenure tidak sesuai ketentuan.</li>
</ul>

<p>Program akan menampilkan informasi akumulasi investasi setiap tahun, menggunakan iterasi untuk setiap tahun.<p>

<p>Contoh:</p>

<p>Input</p>
<ul>
  <li>Money Capital : 100000</li>
  <li>Investment Tenure (years) : 2</li>
</ul>

<p>Output</p>
<ul>
  <li>Year 1, your total investment : 125000.0</li>
  <li>Year 2, your total investment : 156250.0</li>
</ul>

In [ ]:
# Bagian 5
print("Input")
capital_gain = 0.25
money_capital = int(input(">> Money capital : "))
investment_tenure = int(input(">> Investment tenure (years) : "))

print("Output")
if (money_capital >= 0 and money_capital <= 1_000_000_000) and (investment_tenure >= 1 and investment_tenure <= 25):
  total_investment = money_capital
  for i in range(investment_tenure):
    total_investment *= (1 + capital_gain)
    print(">> Year {}, your total investment : {}".format(i + 1, total_investment))
else:
  print("Modal atau tenure tidak sesuai ketentuan")

Input
>> Money capital : 100000
>> Investment tenure (years) : 2
Output
>> Year 1, your total investment : 125000.0
>> Year 2, your total investment : 156250.0